.container-header{
    max-width: 1140px;
    width: 90%;
    margin: 0 auto;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    padding: 36px 0 ;
    justify-content: space-between;

}
.button-div{
    display: flex;
    align-items: center;
    column-gap: 32px;
    
}
.navigation-ul{
    display: flex;
    column-gap: 64px;
}
.buttonimg{
    width: 115px;
    height: 49px;
}
.burger-img{
    display: none;
}


/* section1 */

.container{
    max-width: 1140px;
    width: 90%;
    margin: 0 auto;
    /* background-color: rgb(195, 231, 142); */
    display: flex;
    height: 606px;
    align-items: center;
}
.left-block{
   /* background-color: aquamarine;  */
   width: 412px;
}
.right-block{
    width: 772px;
}
h2{
    font-family: "Abel", sans-serif;
font-weight: 400;
font-size: 69px;
line-height: 120%;
letter-spacing: 0%;
color: black;
}
span{
    font-family: "Abel", sans-serif;
    font-weight: 400;
    font-size: 69px;
    line-height: 120%;
    letter-spacing: 0%;
    color: #F85E9F;
}
.sectionP{
    font-family: "Inter", sans-serif;
    color: #19182580;
font-weight: 400;
font-size: 18px;
line-height: 160%;
letter-spacing: 0%;
margin-top: 43px;
}
.littleDIV{
    display: flex;
    column-gap: 16px;
    margin-top: 43px;
}
.rightDIV{
    display: flex;
width: 181px;
height: 56px;
background-color: #FFFFFF;
border: solid 1px #EEEEEE;
border-radius: 100px;
align-items: center;
justify-content: center;
text-align: center;
column-gap: 8px;
}
.leftDIV{
    display: flex;
    background-color: #5D50C6;
    border-radius: 100px;
    width: 141px;
    height: 49px;
    color: white;
    align-items: center;
justify-content: center;
text-align: center;

}
.littleDIV-p{
    font-family: Circular Std;
font-weight: 700;
font-size: 14px;
line-height: 120%;
letter-spacing: 0%;
color: white;
text-align: center;
align-items: center;
justify-content: center;
}
.rightp{
    color: black;
    font-size: 14px;
}
.iconimg{
    width: 24px;
    height: 24px;

}
.right-img{
    width: 100%;
}

/* section2 */
.container2{
    max-width: 1140px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    background-color: #aca4e4;
    margin-top: 197px;
    height: 867px;

}
.topright-div{
    display: flex;
}
.rowimage{
    width: 80px;
    height: 80px;
}






@media (max-width: 1024px){
  nav{
    display: none;
  }
  .burger-img{
    display: block;
    
  }
  .secondDIV  {order: 1;}
  .firstDIV {order: 2;}
  .button-div  {order: 3;}
  .container{
    flex-direction: column-reverse;
  }
  .left-block{
    width: 100%;
    margin-top: 64px;
    align-items: center;
    text-align: center;
    
  }
   .right-block{
    /* margin-top: 64px; */
    width: 100%;
    
    
   }
  
  
}


@media (max-width: 430px){
    .button-div{
        display: none;
    }
    .secondDIV  {order: 2;}
  .firstDIV {order: 1;}
  .littleDIV{
    flex-direction: column;
  }
  
}